.pager {
  text-align: center; }

.cards-container {
  display: flex;
  flex-direction: column;
  width: 359px; }
  .cards-container .card {
    background-color: #fff;
    width: 335px;
    margin: 5px;
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
    border-style: outset;
    box-shadow: 2px 2px 3px 3px #ddd9d9;
    border-width: 2px;
    border-color: #fff; }
    @media screen and (min-width: 376px) {
      .cards-container .card {
        font-size: 18px;
        width: 512px;
        padding: 5px;
        border-radius: 5px;
        border-style: outset;
        box-shadow: 2px 2px 3px 3px #ddd9d9;
        border-width: 2px;
        border-color: #fff;
        margin: 5px; } }
    .cards-container .card .avatar-image {
      float: left;
      margin: 0 0 0 1px;
      text-align: center;
      padding-top: 8px; }
      @media screen and (min-width: 376px) {
        .cards-container .card .avatar-image {
          float: left;
          margin: 0;
          text-align: center;
          padding-top: 15px; } }
      .cards-container .card .avatar-image .size-image {
        width: 68px;
        height: 76px; }
        @media screen and (min-width: 376px) {
          .cards-container .card .avatar-image .size-image {
            height: 158px;
            width: 145px; } }
      .cards-container .card .avatar-image .footer-image-title {
        padding-top: 5px; }
        @media screen and (min-width: 376px) {
          .cards-container .card .avatar-image .footer-image-title {
            padding-top: 10px;
            color: gray; } }
    .cards-container .card .avatar-info-container {
      float: left;
      text-align: justify;
      margin: 5px; }
      @media screen and (min-width: 376px) {
        .cards-container .card .avatar-info-container {
          margin: 10px; } }
      .cards-container .card .avatar-info-container .avatar-info {
        padding-bottom: 6px;
        font-size: 12px; }
        @media screen and (min-width: 376px) {
          .cards-container .card .avatar-info-container .avatar-info {
            padding-bottom: 25px;
            font-size: 24px; } }
      .cards-container .card .avatar-info-container .footer-container {
        clear: left; }
        .cards-container .card .avatar-info-container .footer-container .comment-notification {
          float: left;
          margin-right: 5px;
          border-radius: 5px;
          padding: 5px;
          background-color: #a68bf0; }
          @media screen and (min-width: 376px) {
            .cards-container .card .avatar-info-container .footer-container .comment-notification {
              margin-right: 10px;
              border-radius: 5px;
              padding: 5px;
              background-color: #a68bf0; } }
        .cards-container .card .avatar-info-container .footer-container .request-notification {
          float: left;
          border-radius: 5px;
          padding: 5px;
          background-color: #a68bf0; }
          @media screen and (min-width: 376px) {
            .cards-container .card .avatar-info-container .footer-container .request-notification {
              border-radius: 5px;
              padding: 5px;
              background-color: #a68bf0; } }
  @media screen and (min-width: 376px) {
    .cards-container {
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: unset;
      width: 1188px; } }

/*# sourceMappingURL=application.css.map */
